<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepR</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Poppins:wght@300;400;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/app.css" />
  <link rel="stylesheet" href="/styles/add-new.css" />
  <link rel="stylesheet" href="/styles/side-menu.css" />
  <link rel="stylesheet" href="/styles/table.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <style>
    html {
      background: #ddd6f3;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffffff, #daf1f8);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffffff, #daf1f8);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    body {
      background: #ddd6f3;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ffffff, #daf1f8);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ffffff, #daf1f8);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  </style>
</head>

<body>
  <%- include('partials/_header') %>

    <main class="main-content">
      <!--side menu displaying categories-->
      <ul class="side-menu sticky">
        <li class="li-all">Categories</li>
        <li class="li-finance">
          <a href="/users">
            <button class="btn btn-primary categoryButton" id="allButton">All</button>
          </a>
        </li>
        <li class="li-finance">
          <a href="/users/category/finance">
            <button class="btn btn-outline-dark categoryButton">Finance</button>
          </a>
        </li>
        <li class="li-social">
          <a href="/users/category/social">
            <button class="btn btn-outline-dark categoryButton">Social</button>
          </a>
        </li>
        <li class="li-entertainment">
          <a href="/users/category/entertainment">
            <button class="btn btn-outline-dark categoryButton">Entertainment</button>
          </a>
        </li>
        <li class="li-work">
          <a href="/users/category/work">
            <button class="btn btn-outline-dark categoryButton">Work</button>
          </a>
        </li>
      </ul>
      <div class="accounts-section">
        <div class="account-header">
          <h1 id="account-header-cat">Organization: <%= organization %>
          </h1>
        </div>
        <!-- Organization Passwords -->
        <div class="border">
          <table class="table table-bordered">
            <h1 id="account-header-cat">Admin Accounts</h1>
            <form method="GET" action="/createAccount">
              <button type="submit" class="btn btn-outline-dark btn_account">Add New Account</button>
            </form>
            <thead>
              <tr>
                <th>Account Name</th>
                <th>Account URL</th>
                <th>Username/Email</th>
                <th>Password</th>
                <th>Category</th>
                <th class="no-background">Copy Password</th>
              </tr>
            </thead>
            <tbody>
              <% for (const org_account of organizationAccounts) { %>
                <tr>
                  <td>
                    <%= org_account.account_name %>
                  </td>
                  <td>
                    <%= org_account.url %>
                  </td>
                  <td>
                    <%= org_account.username %>
                  </td>
                  <td id="passwordCopy" class="hidetext">
                    <%= org_account.password %>
                  </td>
                  <td>
                    <%= org_account.category_name%>
                  </td>
                  <td id="table-buttons">
                    <button class="copyButton1">Copy</button>
                    <span id="copyAlert">Password copied!</span>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>

        <!-- Personal Passwords -->
        <div class="border">
          <table class="table table-bordered">
            <h1 id="account-header-cat">Personal Accounts</h1>
            <form method="GET" action="/createAccount">
              <button type="submit" class="btn btn-outline-dark btn_account">Add New Account</button>
            </form>
            <thead>
              <tr>
                <th>Account Name</th>
                <th>Account URL</th>
                <th>Username/Email</th>
                <th>Password</th>
                <th>Category</th>
                <th class="no-background">Copy Password</th>
              </tr>
            </thead>
            <tbody>
              <% for (const personal_account of personalAccounts) { %>
                <tr>
                  <td>
                    <%= personal_account.name %>
                  </td>
                  <td>
                    <%= personal_account.url %>
                  </td>
                  <td>
                    <%= personal_account.username %>
                  </td>
                  <td id="passwordCopy" class="hidetext">
                    <%= personal_account.password %>
                  </td>
                  <td>
                    <%= personal_account.category_name%>
                  </td>
                  <td>
                    <button class="copyButton1">Copy</button>
                    <span id="copyAlert">Password copied!</span>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>

        <script>
          const copyPassword = function(password) {
            alert(password);
            // window.clipboardData.setData('Text', password);
            // navigator.clipboard.writeText("unique text password");
          };
          $(document).ready(function() {
            $(".copyButton1").click(
              function() {
                const password = $(this).parent().parent().children("#passwordCopy").text();
                navigator.clipboard.writeText(password);
                $("#copyAlert").fadeIn(500, function() {

                  setTimeout(function() {
                    $("#copyAlert").fadeOut(1000);
                  }, 2000);

                });
              });
          });
        </script>
        </table>
    </main>
</body>

</html>